<!--STYLESHEET-->
body {
  max-width: 100%;
  height: 587px;
  width: 1440px;
  position: sticky;
  top:0px;
  left:40px;
  right:0px;
  bottom:0px;
}
ul{
  list-style-type:none;
}
li{
  display: inline;
  padding-right: 15px;
}
.rightnav{
 position: fixed;
 left: 1140px;
 top: 15px;
font-family: airal, sans-serif;
font-size: 13px;
color: rgb(34, 34, 34);
display: inline;
}
.leftnav{
  position: fixed;
  top: 15px;
  left: 0;
  font-family: airal, sans-serif;
  font-size: 13px;
  color: rgb(34, 34, 34);
  
}
.apps{
  position: fixed;
  left:1300px;
  top: 20px;
}
.signin{
  position:fixed;
  margin-left:1325px;
  left:20px;
  top: 20px;
  color: white;
  height: 30px;
  border-radius: 3px;
  border-color: rgb(66, 133, 244);
  border: 1px;
  width: 70px;
  background-color: rgb(66, 133, 244);
  font-family: arial bold;
  font-size: 14px;
}
img.google-logo{
  display: block;
  position: fixed;
  margin: auto;
  height: 92px;
  width: 272px;
  padding-top: 210px;
  left: 580px
  }
input.searchbar{
  display:block;
  margin:auto;
  margin-top:325px;
  width: 560px;
  height: 44px;
  border: 1px solid;
  border-radius: 50px;
  border-color: rgb(223, 225, 229);
  font-size: 16px;
  font-family: arial, sans-serif;
  padding-left: 50px;
  position: fixed;
  left: 405px;
  
  }
input.searchbar:hover{
  box-shadow: 0 2px 6px 0.3px rgba(32,33,36,0.28);
}
input.searchbar:focus{
  outline:none;
}
input.sb{
color: rgb(95, 99, 104);
  height: 36px;
  border-radius: 5px;
  border-color: #f2f2f2;
  width: 127px;
  background-color: #f2f2f2;
  font-family: arial;
  font-size: 14px;
  margin-top: 400px;
  padding: 0 10px 0 10px;
  left: 570px;
  outline: none;
  position: fixed;
  border: 0;
}
.ifl{
  color: rgb(95, 99, 104);
  height: 36px;
  border-radius: 5px;
  border-color: #f2f2f2;
  width: 143px;
  background-color: #f2f2f2;
  font-family: arial;
  font-size: 14px;
  margin-top: 400px;
  padding: 0 10px 0 10px;
  left: 710px;
  outline: none;
  position: fixed;
  border: 0;
}
.country{
    position:fixed;
  bottom: 24px;
  left: -10px;
  width: 100%;
  color: rgb(95, 99, 104);
  background-color:#f2f2f2;
  padding-top: 11px;
  padding-bottom: 14px;
  padding-left: 40px;
  border-top: 1px solid;
  border-color: rgb(223, 225, 229);
  font-family: airal, sans-serif;
  font-size: 15px;
  lighting-color: #f2f2f2;
}
.footer1{
    position:fixed;
  bottom: -14px;
  left: -10px;
  width: 100%;
  color: rgb(95, 99, 104);
  background-color:#f2f2f2;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  border-top: 1px solid;
  border-color: rgb(223, 225, 229);
  font-family: airal, sans-serif;
  font-size: 14px;
  lighting-color: #f2f2f2;
}
.footer2{
  position: fixed;
  bottom: -14px;
  left: 1200px;
  width: 100%;
  color: rgb(95, 99, 104);
  padding-top: 12;
  padding-bottom: 12px;
  padding-left: 30px;
  font-family: airal, sans-serif;
  font-size: 14px;
  lighting-color: #f2f2f2;
}
a {
    text-decoration: none;
    color: rgb(95, 99, 104);
}

#rn{
    color: rgb(34, 34, 34);
}
#ln{
    color: rgb(34, 34, 34);
}
a:hover{
    text-decoration: underline;
}
.ifl:hover {
    border: 1px solid;
    border-color: rgb(223, 225, 229);
    color:rgb(34, 34, 34);
    cursor: pointer;
}
.sb:hover{
    border: 1px solid;
    border-color: rgb(223, 225, 229);
    color:rgb(34, 34, 34);
    cursor: pointer;
    }
.signin:hover{
cursor:pointer;
}

